* {
  margin: 0;
}
body {
  height: 100%;
  background: #f2f2f2;
}

.container {
  display: block;
  background: #fff;
  margin: 20px;
  height: 80vh;
  padding: 20px;
}

.padding-10 {
  padding: 10px;
}

.todo_green {
  color: rgb(34, 129, 34);
}

.todo_red {
  color: rgb(190, 41, 41);
}
